@using PhoneStore.ViewModels
@using PhoneStore.Services
@using System.Net.Http
@inject HttpClient Http
@inject IRepository Repository
@inject IPhoneService PhoneService


@if (Phones is null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="indexComponent">
        <ul>
            @foreach (var item in Phones)
            {
                <li>@item.Company.Name - @item.Name - @item.Country - @item.Price$</li>
            }
        </ul>
        <div class="pagesPhone">
            @for (int i = 1; i <= PagingInfo.TotalPages; i++)
            {
                int page = i;
                <a class="btn @(i == PagingInfo.CurrentPage ? "btn-primary" : "btn-secondary") m-1" @onclick="() => PagePhone(page)">@i</a>
            }
        </div>
    </div>
    <div class="indexComponent">
        <EditForm Model="_deletePhone" OnValidSubmit="DeletePhone">
            <DataAnnotationsValidator />
            <div>
                <label>Name phone:</label>
                <InputText class="form-control" @bind-Value="_deletePhone.Name"></InputText>
                <ValidationMessage For="() => _deletePhone.Name"></ValidationMessage>
            </div>
            <input type="submit" class="btn btn-primary" value="Delete" />
        </EditForm>
    </div>
    <div class="indexComponent">
        <EditForm Model="_newPhone" OnValidSubmit="InsertPhone">
            <DataAnnotationsValidator />
            <div>
                <label>Name phone:</label>
                <InputText class="form-control" @bind-Value="_newPhone.Name"></InputText>
                <ValidationMessage For="() => _newPhone.Name"></ValidationMessage>
            </div>
            <div>
                <label>Country phone company:</label>
                <InputText class="form-control" @bind-Value="_newPhone.Country"></InputText>
                <ValidationMessage For="() => _newPhone.Country"></ValidationMessage>
            </div>
            <div>
                <label>Price:</label>
                <InputNumber class="form-control" @bind-Value="_newPhone.Price"></InputNumber>
                <ValidationMessage For="() => _newPhone.Price"></ValidationMessage>
            </div>
            <div>
                <label>Company:</label>
                <InputSelect class="form-control" @bind-Value="_newPhone.CompanyId">
                    <option disabled selected value="">Select company</option>
                    @foreach (var item in Companies)
                        {
                        <option value="@item.Id">@item.Name</option>
                        }
                </InputSelect>
                <ValidationMessage For="@(() => _newPhone.CompanyId)"></ValidationMessage>
            </div>
            <input type="submit" class="btn btn-primary" value="Insert" />
            <label>@ResultInfo</label>
        </EditForm>
    </div>
}

@code {
    private List<Phone> Phones { get; set; }
    private List<Company> Companies { get; set; }
    private PagingInfo PagingInfo { get; set; }
    private readonly InsertPhone _newPhone = new InsertPhone();
    private readonly DeletePhone _deletePhone = new DeletePhone();

    private string ResultInfo { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Phones = await PhoneService.GetPhoneItems(1);
        Companies = await Repository.GetCompanies();
        PagingInfo = await PhoneService.GetNumberOfPages(1);
    }

    private async Task DeletePhone()
    {
        try
        {
            await Http.SendJsonAsync(HttpMethod.Post, "https://localhost:44302/api/Phone/DeletePhone", _deletePhone.Name);
            await PagePhone(PagingInfo.CurrentPage);
            _deletePhone.Name = "Successful delete";
        }
        catch (HttpRequestException)
        {
            _deletePhone.Name = "Data not found";
        }
    }

    private async Task InsertPhone()
    {
        Phone phone = new Phone { Name = _newPhone.Name, Country = _newPhone.Country, Price = _newPhone.Price, CompanyId = Convert.ToInt32(_newPhone.CompanyId) };
        await Http.SendJsonAsync(HttpMethod.Post, "https://localhost:44302/api/Phone/InsertPhone", phone);
        await PagePhone(PagingInfo.CurrentPage);
        ResultInfo = "Insert complete";
    }

    private async Task PagePhone(int phonePage)
    {
        PagingInfo = await PhoneService.GetNumberOfPages(phonePage);
        if (phonePage > PagingInfo.TotalPages)
        {
            Phones = await PhoneService.GetPhoneItems(phonePage - 1);
            PagingInfo.CurrentPage = phonePage - 1;
        }
        else
        {
            Phones = await PhoneService.GetPhoneItems(phonePage);
        }
    }
}
